<md-content layout="column">
    <md-progress-linear class="md-accent md-hue-1 flush-progress" md-mode="indeterminate" ng-hide="contentLoaded">
    </md-progress-linear>
	<md-card ng-repeat="song in songs track by $index" ng-show="contentLoaded">
        <google-youtube video-id="{{getVideoId(song.link)}}" class="md-card-image"></google-youtube>
		<md-card-content>
			<h2 class="md-title">{{song.title}}</h2>
            <p>by {{song.artist}}</p>
            <span class="inline-list">
                <small>Posted {{formatDate(song.date)}}</small>
                <small ng-if="song.genre !== ''">{{song.genre}}</small>
            </span>
		</md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="externalClick(song.link)" ng-disabled="song.link === ''">LINK</md-button>
            <md-button ng-click="editSongDetails()" ng-disabled="true">EDIT</md-button>
        </div>
	</md-card>
</md-content>