.icon-button-adjust {
    vertical-align: middle;
}

md-progress-linear.flush-progress {
    margin-top: -5px;
}

.inline-list * {
    padding-right: 20px;
}

small > a {
    color: rgba(0, 0, 0, .87);
}

.button-fade {
  opacity: 1;
}

.button-fade.ng-hide-add.ng-hide-add-active,
.button-fade.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.button-fade.ng-hide {
  opacity: 0;
}