<!DOCTYPE html>
<html>
<head>

    <title>One song a day</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- 3rd party CSS -->
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    <!-- App CSS -->
    <link rel="stylesheet" type="text/css" href="app.css">

    <!-- 3rd part JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

    <!-- Polymer elements -->
    <script src="polymer/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="polymer/google-youtube/google-youtube.html">

    <!-- App JS -->
    <script src="app.js"></script>
    <script src="songSvc/songSvc.js"></script>
    <script src="toolbar/toolbar.js"></script>
    <script src="settingsView/settingsView.js"></script>
    <script src="editSongView/editSongView.js"></script>
    <script src="homeView/homeView.js"></script>
    <script src="loginView/loginView.js"></script>

</head>
<body ng-app="songADay">

    <md-content ng-controller="ToolbarCtrl">
        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">

                <h2><span>Song a day</span></h2>

                <span flex></span>

                <md-button class="md-icon-button" aria-label="Add a song" ng-click="addSong($event)" ng-hide="stateIs('editsong')">
                    <md-tooltip>
                          Add a song
                    </md-tooltip>
                    <i class="material-icons icon-button-adjust">add</i>
                </md-button>

                <md-button class="md-icon-button button-fade" aria-label="Home" ng-click="goTo('home')" ng-hide="stateIs('home')">
                    <md-tooltip>
                          Home
                    </md-tooltip>
                    <i class="material-icons icon-button-adjust">home</i>
                </md-button>

                <md-button class="md-icon-button button-fade" aria-label="Settings" ng-click="goTo('settings')" ng-hide="stateIs('settings')">
                    <md-tooltip>
                          Settings
                    </md-tooltip>
                    <i class="material-icons icon-button-adjust">settings</i>
                </md-button>

            </div>
        </md-toolbar>
    </md-content>

    <div ui-view></div>

</body>
</html>