<!DOCTYPE html>
<html>
<head>

    <title>One song a day</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    <link rel="stylesheet" type="text/css" href="app.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>

    <script src="app.js"></script>
    <script src="toolbar/toolbar.js"></script>
    <script src="aboutView/aboutView.js"></script>
    <script src="addSongView/addSongView.js"></script>
    <script src="homeView/homeView.js"></script>
    <script src="loginView/loginView.js"></script>

</head>
<body ng-app="songADay">

    <md-content ng-controller="ToolbarCtrl">
        <md-toolbar>
            <div class="md-toolbar-tools">

                <h2 ng-if="stateIsHome()"><span>Song a day</span></h2>
                <h2 ng-if="!stateIsHome()"><span><a ui-sref="home">Song a day</a></span></h2>

                <span flex></span>

                <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshPage()">
                    <i class="material-icons icon-button-adjust">refresh</i>
                </md-button>

                <md-menu>
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
                        <i class="material-icons icon-button-adjust">more_vert</i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="addSong()">
                                Add a song
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="showAbout()">
                                About
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
        </md-toolbar>
    </md-content>

    <md-content ui-view></md-content>

    <!-- <md-button class="md-raised md-accent">
        <i class="material-icons icon-button-adjust">polymer</i>
    </md-button> -->

</body>
</html>