<md-content layout="column">
    <md-card>
        <md-card-content>
            <h2>Add a song</h2>
            <form name="addForm">
                <md-input-container flex>
                    <label>Song Title</label>
                    <input id="title" ng-model="song.title" name="title" ng-required="addForm.title.$touched">
                    <div ng-messages="addForm.title.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Song Artist</label>
                    <input id="artist" ng-model="song.artist" name="artist" ng-required="addForm.artist.$touched">
                    <div ng-messages="addForm.artist.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Song Link</label>
                    <input id="link" ng-model="song.link" name="link" ng-required="addForm.link.$touched">
                    <div ng-messages="addForm.link.$error">
                        <div ng-message="required">Required</div>
                    </div>
                </md-input-container>
                <p></p>
                <md-button class="md-raised md-accent" ng-click="addSong(song)" flex>Add song</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>